<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Par mums</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>Pensijas 2. līmenis</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Pensiju 2. līmenis tika ieviests 2001.gada 1.jūlijā. No šī datuma daļa no Tavām veiktajām valsts
                    sociālās apdrošināšanas iemaksām netiek izmaksāta esošajiem pensionāriem, bet gan ieguldīta un
                    uzkrāta Tavai pensijai. Ieguldījumu mērķis ir nodrošināt, lai pensijas kapitāls pieaugtu straujāk
                    nekā inflācija un vidējā darba alga valstī. Uzkrātā nauda paralēli 1.pensiju līmeņa pensijai dos Tev
                    papildu ienākumus vecumdienās.
                </p>
                <p class="text-center">
                    <img src="../assets/2limenis2.png" style="max-width: 50%;" alt="Pensijas 2. līmenis"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et pellentesque nisi. Suspendisse orci
                    nibh, ultrices eu interdum vel, vehicula sit amet diam. Nullam a fermentum purus. Morbi in magna
                    sodales, pellentesque felis quis, blandit urna. Integer consequat metus ac ornare hendrerit. Nam
                    condimentum tellus suscipit enim porta, et facilisis mauris euismod. Vivamus vel dictum diam. Nunc
                    gravida pharetra commodo. Pellentesque ligula risus, aliquet nec nunc eget, dapibus condimentum enim.
                    Curabitur purus magna, efficitur quis tincidunt nec, commodo eget eros.
                </p>
                <p>
                    Pellentesque libero mauris, lobortis quis tempus eu, luctus at nisl. Orci varius natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus. Etiam eros risus, rutrum at lorem eu, rhoncus
                    finibus odio. Nam aliquet semper lorem, sed condimentum dui. Integer imperdiet pharetra turpis eget
                    hendrerit. Vestibulum et arcu a sapien finibus venenatis. Sed luctus tempor ex quis finibus. Fusce
                    facilisis condimentum odio vel lacinia. Fusce eu mattis libero. Nam sed mauris cursus, auctor tellus
                    non, cursus nisi.
                </p>
                <p>
                    Suspendisse libero neque, fringilla vel nunc eget, pretium faucibus massa. Integer mattis urna dui,
                    vitae bibendum diam tristique ac. Etiam efficitur efficitur orci sit amet vehicula. Donec augue lectus,
                    porttitor in lectus sit amet, malesuada placerat augue. Nullam volutpat sagittis odio, sed fringilla
                    orci feugiat a. Vestibulum ut finibus arcu. Donec id ultrices diam, nec gravida odio. Mauris eu ipsum eu
                    arcu molestie tempor at a tortor. Duis congue, tortor eget vehicula consequat, enim est facilisis lacus,
                    ut finibus lectus nisi eu urna. Cras ornare id augue rutrum pulvinar. Vestibulum nec viverra ex, in
                    faucibus metus. Vivamus tincidunt dolor id est vestibulum, in ullamcorper dui pellentesque. Nullam
                    sagittis pulvinar urna rhoncus convallis. Nam tristique tortor malesuada sollicitudin mollis. Proin odio
                    libero, imperdiet ut maximus vel, posuere sit amet ipsum. Donec sit amet blandit diam.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Saites</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li>
                        <a href="https://www.vsaa.lv/" rel="nofollow nore">Valsts sociālās apdrošināšanas aģentūra</a>
                    </li>
                    <li>
                        <a href="https://data.gov.lv/" rel="nofollow nore">Latvijas atvērto datu portāls</a>
                    </li>
                    <li>
                        <a href="https://manapensijas.lv" rel="nofollow nore">Mana pensija</a>
                    </li>
                    <li>
                        <a href="https://https://icons8.com/license/" rel="nofollow nore">Ikonas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "About"
    }
</script>