<template>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <h3>
                            Salīdzināšana
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form @submit.prevent="calculateData">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Vecums</label>
                                <div class="col-sm-8">
                                    <input @change="calculateData" v-model="age" type="range" min="15" max="66" class="form-control-range" id="formControlRange">
                                    <span>{{ age }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Pensijas uzkrājums</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input v-model="saving" type="text" class="form-control" id="inputPassword3"
                                               placeholder="500">
                                        <div class="input-group-append">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Rēķināt</button>
                                </div>
                            </div>

                    <div style="position: relative;">
                        <GChart
                            v-if="chartReady"
                            :type="chartType"
                            :data="chartData"
                            :options="chartOptions"
                            @ready="onChartReady"
                        />
                        <div class="overlay-marker" style="display: none;" ref="overlayMarker">
                            <img src="./../assets/arrow.png" id="arrow" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" v-if="chartReady && chartObject">
                    <div class="col">
                        Leģenda:<br/>
                        <template v-for="(colorSettings, range) in gradientMap">
                            <span class="badge" :style="{background: colorSettings.color}">&nbsp;</span> - {{ range }}<br/>
                        </template>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3>Kā noskaidrot uzkrājumu 2. pensijas līmeni?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            Jāapmeklē portāls <a href="http://latvijas.lv">Latvija.lv</a> e-pakalpojums -
                            <a href="https://www.latvija.lv/epakalpojumi/ep44/Apraksts">
                                Valsts fondēto pensiju shēmas (pensiju 2.līmeņa) dalībnieka konta izraksts
                            </a>
                        </p>
                        <div class="text-center">
                            <video controls style="max-width: 100%; border: 2px solid;">
                                <source src="../assets/video.mp4"  type="video/mp4">
                                <p>Pārlūkprogramma neatbalsta video</p>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron my-5 py-4">
            <div class="row">
                <div class="col">
                    <h3>
                        Do you want to improve your position?
                    </h3>
                    <h5>
                        Take 30-days saving CHALLENGE & Win prizes!
                    </h5>
                </div>
            </div>
            <div class="row text-center my-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h5>+28000€</h5>
                            </div>
                            <img src="../assets/coffee.svg" class="challenge-icon py-2" @click="toggleTab('coffee')"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h5>+35500€</h5>
                            </div>
                            <img src="../assets/food.svg" class="challenge-icon py-2" @click="toggleTab('food')"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h5>+45000€</h5>
                            </div>
                            <img src="../assets/bus.svg" class="challenge-icon py-2" @click="toggleTab('bus')"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" v-if="tabSelected == 'coffee'">
                    <div class="row">
                        <div class="col">
                            <h3>Coffe challenge</h3>
                            <p>
                                On average people spend €60 a month a coffee outside home.
                            </p>
                            <p>
                                <strong>You can save €28,000 by the age of the retirement</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col" v-if="tabSelected == 'food'">
                    <div class="row">
                        <div class="col">
                            <h3>Food challenge</h3>
                            <p>
                                You can save €35,500€ by the age of the retirement
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col" v-if="tabSelected == 'bus'">
                    <div class="row">
                        <div class="col">
                            <h3>Transport challenge</h3>
                            <p>
                                You can save 45,000€ by the age of the retirement
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="tabSelected == 'bus' || tabSelected == 'food' || tabSelected == 'coffee'">
                <div class="form-group row" style="width: 100%; margin: 30px 0;">
                    <div class="col-sm-8 offset-md-2">
                        <div class="input-group" style="width: 230px; margin: 0 auto; text-align: center;">
                            <h2></h2>
                            <button class="btn btn-info btn-lg" style="background-color: #DB9834; border: 0;" type="submit">Accept the challenge!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row" style="width: 100%; margin: 30px 0 60px 0;">
            <div class="col-sm-6 offset-md-3">
                <div class="input-group" style="width: 100%;">
                    <h2 style="margin-bottom: 30px; text-align: center;">Sign up to get updates</h2>
                    <input style="width: 80%; padding-left: 10px;" name="email" id="email" type="email" placeholder="Enter your email" required>
                    <button class="btn btn-info btn-lg" style="width: 20%; background-color: #DB9834; border: 0;" type="submit">Sign up!</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';

    export default {
        created() {
            this.loadData();
        },
        data() {
            return {
                msg: '',
                age: 25,
                saving: 500,
                savingsData: {},
                tabSelected: null,

                // Chart data
                chartReady: false,
                chartData: [],
                chartOptions: {
                    width: '100%',
                    height: 'auto',
                    legend: {position: 'none'},
                    vAxis: {format: '#\'%\''},
                    hAxis: {title: 'Cilvēku skaits (%)'},
                    isStacked: true,
                    series: {
                        0: {color:'#D8434D'},
                        1: {color:'#F47245'},
                        2: {color:'#FDC877'},
                        3: {color:'#FEE899'},
                        4: {color:'#FEFEBE'}
                    }
                },
                chartType: 'BarChart',
                chartObject: null,
                gradientMap: {
                    "€0-999": {color:'#D8434D'},
                    "€1000-2999": {color:'#F47245'},
                    "€3000-4999": {color:'#FDC877'},
                    "€5000-9999": {color:'#FEE899'},
                    "€10000+": {color:'#FEFEBE'}
                }
            };
        },
        mounted() {
            // this.loadData();
        },
        methods: {
            loadData() {
                fetch('static/data_aggregated.json')
                    .then(response => {
                        return response.json()
                    })
                    .then(savingsData => this.savingsData = savingsData);
            },

            calculateData() {

                // Single age data
                let ageData = _.filter(this.savingsData, d => d.age === parseInt(this.age)).pop();

                if (ageData) {
                    this.chartReady = true;
                    this.chartData = [['group', 'count', {role: 'style'}]]
                        .concat(
                            this.getDataFromAgeData(ageData)
                                .map(i => {
                                    i.push('color: #DB9834');
                                    return i;
                                })
                        );

                    //
                    this.chartData = this.getBarChartDataFromAgeData(ageData);


                    //if already set up
                    if (this.chartObject) {
                        this.placeMarker();
                    }
                }
            },

            /**
             * @param {{age: Number}} ageData
             */
            getDataFromAgeData(ageData) {
                let clonedAgeData = _.cloneDeep(ageData);

                delete clonedAgeData['age'];

                return _.toPairs(clonedAgeData);
            },

            getBarChartDataFromAgeData(ageData) {
                let clonedAgeData = _.cloneDeep(ageData);

                delete clonedAgeData['age'];

                let result = [['Uzkrājums'].concat(Object.keys(clonedAgeData))];

                result.push(['Uzkrājums'].concat(Object.values(clonedAgeData)));

                return result;
            },

            onChartReady(chart, api) {
                this.chartObject = chart;

                this.$nextTick(() => {
                    this.placeMarker();
                });
            },

            placeMarker() {
                let cli = this.chartObject.getChartLayoutInterface();
                this.$refs.overlayMarker.style.display = 'block';
                this.$refs.overlayMarker.style.top = 5 + "px";
                // this.$refs.overlayMarker.style.left = Math.floor(cli.getXLocation(this.getXPosition())) - 15 + "px";
                this.$refs.overlayMarker.style.left = Math.floor(cli.getXLocation(this.getPercentsAccumulated())) - 15 + "px";

                if (this.saving == 0) {
                    this.$refs.overlayMarker.style.display = 'none';
                }

                // console.log(this.getPercentsAccumulated());
            },

            getXPosition() {
                if (this.saving < 1000) {
                    return 0;
                }
                if (this.saving < 3000) {
                    return 1;
                }
                if (this.saving < 5000) {
                    return 2;
                }
                if (this.saving < 10000) {
                    return 3;
                }

                return 4;
            },

            getPercentsAccumulated() {
                let ageData = _.cloneDeep(_.filter(this.savingsData, d => d.age === parseInt(this.age)).pop());

                delete ageData.age;

                let index = 0;
                let percents = 0;
                let minus = 0;
                let needFind = this.getXPosition();
                for (let key in ageData) {
                    if (index === needFind) {
                        return percents - minus;
                    }

                    percents = percents + ageData[key];
                    minus = ageData[key] / 2;
                    index +=1;
                }
            },

            toggleTab(tab) {
                if (this.tabSelected === tab) {
                    this.tabSelected = null;
                } else {
                    this.tabSelected = tab;
                }
            }
        }
    }
</script>

<style>
    .overlay-marker {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 53px; /* chartArea top */
        left: 528px; /* chartArea left */
    }
    .overlay-marker img {
        width: 32px;
    }

    .challenge-icon {
        max-height: 100px;
        max-width: 100px;
        opacity: 0.7;
        cursor: pointer;
    }

    .challenge-icon:hover {
        opacity: 1;
    }
</style>