<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>
                    Statistika
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Esošais grafika parāda, kāds ir iemaksātais apjoms 2. pensiju līmenī
                </p>
                <GChart
                    v-if="overallAverage !== null"
                    :type="overallAverage.type"
                    :data="overallAverage.chartData"
                    :options="overallAverage.chartOptions"
                    @ready="onChartReady"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <GChart
                    v-if="age25Average !== null"
                    :type="age25Average.type"
                    :data="age25Average.chartData"
                    :options="age25Average.chartOptions"
                    @ready="onChartReady"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                allData: {},
            }
        },
        created() {
            this.loadAllData();
        },

        computed: {
            overallAverage() {
                if (Object.keys(this.allData).length === 0) {
                    return null;
                }

                let x = _.clone(this.allData.slice().pop());
                delete x.age;

                let keys = Object.keys(x);
                let result = {};

                for (let key of keys) {
                    result[key] = 0;
                }

                // return keys;
                _.values(this.allData)
                    .forEach(d => {
                        for (let key of keys) {
                            result[key] = result[key] + d[key];
                        }
                    });

                return {
                    chartData: [['Uzkrājums', 'Skaits']].concat(
                        _.toPairs(result)
                    ),
                    chartOptions: {
                        title: 'Vidējais ikgadējais noguldījums 2. pensiju līmenī',
                        width: '100%',
                        height: 400,
                        is3D: true,
                        chartArea: {
                            top: 40
                        }
                    },
                    type: "PieChart"
                }
            },

            age25Average() {
                if (Object.keys(this.allData).length === 0) {
                    return null;
                }

                let x = _.clone(this.allData.slice().pop());
                delete x.age;

                let keys = Object.keys(x);
                let result = {};

                for (let key of keys) {
                    result[key] = 0;
                }

                _.filter(this.allData, d => {
                    return d.age === 25;
                }).forEach(d => {
                    for (let key of keys) {
                        result[key] = result[key] + d[key];
                    }
                });

                return {
                    chartData: [['Uzkrājums', 'Skaits']].concat(
                        _.toPairs(result)
                    ),
                    chartOptions: {
                        title: 'Vidējais ikgadējais noguldījums 2. pensiju līmenī 25. gadu vecumā',
                        width: '100%',
                        height: 400,
                        is3D: true,
                        chartArea: {
                            top: 40
                        }
                    },
                    type: "PieChart"
                }
            }
        },
        methods: {
            loadAllData() {
                fetch('static/data.json')
                    .then(response => response.json())
                    .then(d => this.allData = _.values(d));
            },

            onChartReady(chart) {
            },
        }
    }
</script>