<template>
  <div id="app">
    <header>
      <img src="./assets/p-logo.png" id="logo" class="mb-3">
      <h1>Pension challenger</h1>
    </header>
    <div class="container" style="margin-bottom: 40px;">
      <ul class="nav justify-content-center nav-pills">
        <li class="nav-item">
          <b-nav-item to="/" active-class="active" exact>Sākums</b-nav-item>
        </li>
        <li class="nav-item">
          <b-nav-item to="/statistics" active-class="active">Statistika</b-nav-item>
        </li>
        <li class="nav-item">
          <b-nav-item to="/about" active-class="active">Par mums</b-nav-item>
        </li>
      </ul>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 20px;
}
  #logo {
    max-width: 100px;
  }

  header {
    text-align: center;
  }
</style>
